.header {
  background-color: #002366;
  padding: 20px;
  text-align: center;
}

.form {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #000;
}

.input {
  width: 200px;
  height: 45px;
  padding-left: 35px;
  border: none;
  border-radius: 5px;
}
