.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.movieItem {
  width: 200px;
}

.movieLink {
  text-decoration: none;
  color: inherit;
}

.movieImage {
  width: 100%;
  border-radius: 10px;
}
