.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.item {
  list-style: none;
  cursor: pointer;
}

.imageCard {
  position: relative;
  overflow: hidden;
}

.imageCard img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.imageCard:hover img {
  transform: scale(1.1);
}
